#este proyecto esta configurado para funcionar con pythonanywhere para hacerlo andar en localhost se debe
#reconfigurar el archivo settingpy la base de datos y el allowedhost



#
#
#
#
#
#
#
# se recomienda instalacion manual de librerias o verficar versionado, no ejecutar directamente
#
#
#
Django==3.2.9
pandas==1.3.4
numpy==1.21.2
scikit-learn==0.24.2
xgboost==1.4.2
matplotlib==3.4.3
