{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir CSV</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="menu">

            <a href="{% url 'carga_csv' %}" class="btn btn-success">Volver</a>


            <h2>Regresion lineal prophet</h2>
            {% if error_message %}
            <div style="color: red;">
                <strong>Error:</strong> {{ error_message }}
            </div>
            {% endif %}
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="csv_file">
                <button type="submit">Mostrar Resultado </button>
            </form>
        </div>

        <div class="content-box">
            {% if image_base64 %}
            <h2>Predicción Mensual para el Año 2023</h2>
            <div>
                <img src="data:image/png;base64,{{ image_base64 }}" alt="Gráfico de Predicción" />
            </div>
            {% endif %}

            {% if data %}
            <h2>Tabla de resultados de predicción por mes para el año 2023 prophet</h2>
            <table>
                <tbody>
                    {{ data|safe }}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</body>

</html>
